APScheduler==3.10.4
beautifulsoup4==4.12.3
joblib==1.4.2
lightgbm==4.3.0
pandas==2.2.2
playwright==1.44.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.31.0
scikit-learn==1.4.2
SQLAlchemy==2.0.30
